.rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 726px) {
  .rating-wrapper {
    flex-direction: column;
  }

  .rating-wrapper button {
    margin-top: 20px;
  }
}
