.edit-task-modal .description {
  width: 100%;
  margin-bottom: 20px;
}

.edit-task-modal .wrapper .priority {
  margin-left: 0;
}

.edit-modal-buttons {
  display: flex;
  justify-content: space-around;
}
